<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/templateAdmin.html :: head">
    <meta charset="UTF-8">
</head>
<body>

<header th:replace="plantilla/templateAdmin.html :: header">

</header>

<!--Contenido -->
<div class="container">
    <div class="card bg-light">
        <div class="card-header bg-dark text-white" th:text="${title}"></div>

        <div class="card-body">
            <form th:action="@{/views/admin/save}" th:object="${events}" method="post">
                <div class="mb-3 row">
                    <input type="hidden" th:field="*{id}">
                    <label class=col-md-2 for="name">Name:</label>
                    <input type="text" th:field="*{name}" class="mb-3 mb-3-sm col-md-6" id="name" placeholder="Name's Curse">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
                </div>
                <div class="mb-3 row">
                    <label class=col-md-2 for="description">Description:</label>
                    <input type="text" th:field="*{description}" class="mb-3 mb-3-sm col-md-6" id="description" placeholder="Description">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></small>
                </div>
                <div class="mb-3 row">
                    <label class=col-md-2 for="date">Date:</label>
                    <input type="datetime-local" th:field="*{date}" class="mb-3 mb-3-sm col-md-6" id="date" placeholder="Date">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></small>
                </div>
                <div class="mb-3 row">
                    <label class=col-md-2 for="img">Img:</label>
                    <input type="text" th:field="*{img}" class="mb-3 mb-3-sm col-md-6" id="img" placeholder="Image's Curse">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('img')}" th:errors="*{img}"></small>
                </div>
                <div class="mb-3 row">
                    <label class=col-md-2 for="vacants">Vacants:</label>
                    <input type="number" th:field="*{vacants}" class="mb-3 mb-3-sm col-md-6" id="vacants" placeholder="Vacants" min="1" max="99">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('vacants')}" th:errors="*{vacants}"></small>
                </div>
                <div class="mb-3 row">
                    <label class=col-md-2 for="type">Type:</label>
                    <input type="text" th:field="*{type}" class="mb-3 mb-3-sm col-md-6" id="type" placeholder="type">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></small>
                </div>
                <div class="mb-3 row">
                    <label class=col-md-2 for="featured">Featured:</label>
                    <input type="checkbox" th:field="*{featured}" class="mb-3 mb-3-sm col-md-6" id="featured" placeholder="Featured">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('featured')}" th:errors="*{featured}"></small>
                </div>


               <!-- <div class="mb-3 row">
                    <label class=col-md-2 for="users">Users:</label>
                    <select type="text" th:field="*{users}" class="mb-3 mb-3-sm col-md-6" id="users">
                        <option
                                th:each="users:${users}"
                                th:value="${users.id}"
                                th:text="${users.users}"
                        />
                    </select>
                </div>-->
                <div class="card-footer bg-dark">
                    <input type="submit" class="btn btn-primary btn-sm" value="Save"/>
                </div>

            </form>
        </div>
    </div>
</div>
<!-- Pie de página -->
<footer th:replace="plantilla/templateAdmin.html::footer">

</footer>

</body>
</html>