<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/templateAdmin.html :: head">
    <meta charset="UTF-8">
</head>
<body>

<header th:replace="plantilla/templateAdmin.html :: header">

</header>

<!--Contenido -->
<div class="container">
    <h1 th:text="${title}"></h1>
</div>
<div class="container">
    <a class="btn btn-primary btn-sm" th:href="@{/views/admin/create}"
       th:text="'New Event'" title="Create a New Register">
    </a>
    <table class="table caption-top">
        <caption>List of Events</caption>
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Date</th>
            <th scope="col">Img</th>
            <th scope="col">Vacants</th>
            <th scope="col">Type</th>
            <th scope="col">Featured</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cl:${events}">
            <th scope="row" th:text="${cl.id}"></th>
            <td th:text="${cl.name}"></td>
            <td th:text="${cl.description}"></td>
            <td th:text="${cl.date}"></td>
            <td th:text="${cl.img}"></td>
            <td th:text="${cl.vacants}"></td>
            <td th:text="${cl.type}"></td>
            <td th:text="${cl.featured}"></td>

            <td>
                <a class="btn btn-success btn-sm" th:href="@{/views/admin/edit/}+${cl.id}"
                   th:text="'Edit'" title="Edit Register">
                </a>
            </td>
            <td>
                <a class="btn btn-danger btn-sm" th:href="@{/views/admin/delete/}+${cl.id}"
                   th:text="'Delete'" title="Delete Register"
                   onclick="return confirm('Are you sure to delete it?')">
                </a>
            </td>

        </tr>

        </tbody>
    </table>
</div>
<!-- Pie de página -->
<footer th:replace="plantilla/templateAdmin.html::footer">

</footer>

</body>
</html>