<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/templateUser.html :: head">
    <meta charset="UTF-8">
</head>
<body>

<header th:replace="plantilla/templateUser.html :: header">

</header>
    <div class="container mt-5">
        <div class="row justify-content-center">

            <div class="col-md-3">
                <div class="card card-body">
                    <span th:if="${session.users != null}">Bienvenido <span class="font-italic" th:text="${session.users.name}"></span></span>

                    <form th:action="@{/views/users/logout}" method="POST">
                        <button type="submit" class="btn btn-primary mt-3">Salir</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<footer th:replace="plantilla/templateUser.html::footer">

</footer>

</body>
</html>