<!DOCTYPE html>
<html lang="en">
<head th:replace="plantilla/template :: head">
</head>
<body>
<header th:replace="plantilla/template :: header"></header>

<!-- <div th:replace="plantilla/template :: carousel"></div> -->

<!-- <section th:replace="plantilla/template :: events-list"></section> -->

<section th:fragment="events-list" class="wrapper">
    <div class="container-fostrap p-0">
        <div>
            <h2 class="heading display-6">
                All Events
            </h2>
        </div>
        <div class="content">
            <div class="container mb-4">
                <div class="row">
                    <div th:each="eventsList:${events}" class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                                <img th:src="${eventsList.img}" />
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a th:text="${eventsList.name}" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"></a>
                                </h4>
                                <h5 th:text="${eventsList.type}" class="">
                                    Tipo de evento
                                </h5>
                                <p th:text="${eventsList.description}" class="">
                                    Descripcion evento
                                </p>
                                <p th:text="${eventsList.date}" class="">
                                    fecha de evento
                                </p>
                                <span>
                                    Apuntados: 0 /
                                </span>
                                <span th:text="${eventsList.vacants}" class="">
                                    plazas
                                </span>
                            </div>

                            <div class="card-read-more">

                                <!--/*@thymesVar id="CompareDates" type=""*/-->
                                <td>
                                    <a class="btn btn-success btn-sm" th:href="@{/views/users/index/delete}+${cl.id}"
                                       th:text="'Desapuntarme'" title="Desapuntarme">
                                    </a>
                                </td>
                                <td>

                                <!-- th:switch="${#dates.format(sdf.parse(isodate)).before(#dates.format(sdf.parse(isodatemod)))}"-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>