<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header">

    <!-- NAVBAR -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">TechEvents</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/views/users/index">My Events</a>
                    </li>
                </ul>
                <form th:action="@{/views/users/logout}" method="POST">
                    <button type="submit" class="btn btn-primary mx-1">Logout</button>
                </form>

            </div>
        </div>
    </nav>

    <!-- NAVBAR END -->

</header>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<footer th:replace="plantilla/template :: footer"></footer>

</body>
</html>